@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');

body {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; 
}

.heading {
  color: #52177c;
  font-family: "League Spartan";
  font-size: 28px;
  margin-bottom: 40px;
}

.login-form {
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 360px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 12px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}


.password-container input {
  padding-right: 40px;
}

.toggle-password-visibility {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #888;
  user-select: none;
  pointer-events: auto;
  display: flex;
  align-items: center;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #52177c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

.login-button:hover {
  background-color: #3b1057;
}

.signup-link {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #52177c;
}

.signup-link a {
  color: #52177c;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}

.create-button {
  width: 100%;
  padding: 12px;
  background-color: #186901;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.create-button:hover {
  background-color: #114603;
  color: white;
}